/*
 * Main content
 */

.main {
    padding: 70px 10px 10px;
}

.pagination {
    margin: 0px;
}

.toolbar {
    margin-bottom: 5px;
}

span.sign {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 12px;
    margin-top: -10px;
    color: #bfbfc1;
}

span.arrow {
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    border-color: #000 transparent transparent transparent;
    line-height: 0;
    height: 0;
    width: 0;
    margin-top: -2px;
}

span.arrow.up {
    border-color: transparent transparent #000 transparent;
    margin-top: -7px;
}

th:not([data-sort=false]) {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

th:hover:not([data-sort=false]) {
    background: #efefef;
}

.ajaxinput{
    margin-left:5px;
}
.ajaxi{
    margin-left: 3px;
}

.innercheckboxs{
    margin-top: 10px !important;
}

.upimage{
    margin-bottom: 5px
}